<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title>Cadastro</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
		<link rel='stylesheet' type='text/css' media='screen' href='../css/bigStyle.css'>
		<link rel='stylesheet' type='text/css' media='screen' href='../css/smallStyle.css'>
		<link rel='stylesheet' type='text/css' media='screen' href='../css/verySmallStyle.css'>
		<link rel='stylesheet' type='text/css' media='screen' href='../css/cross-navegator.css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<script src='../js/script.js'></script>
		<link rel="icon" type="imagem/png" href="../images/Logo_tcc - 4.png"/>
	</head>
	<body onload="onLoad()" id = "cadastro">
		<script>
			jQuery(window).load(function () {
        $(".loader").delay(1500).fadeOut("slow");
        $("#tudo_page").toggle("fast");
      });
		</script>
		<div id="loader" class="loader fundo  ">
      <div class = "cssload-speeding-wheel"></div>
    </div>
		<div id = "pos_button_login">
			<center><h2>Escolha um acesso</h2></center>
			<button id = "profissional" onclick = "aparecer_prof_cadastro()">Profissional</button>	
			<button id = "empresa" onclick = "aparecer_emp_cadastro()">Empresa</button>
		</div>

		<!-- Empresa -->
		<div id = "form_emp">
			<i class="fas fa-arrow-left" onclick = "voltar_cadastro()"></i>
			<form action =  "../controllers/empresaController.php" method="POST">
				<br>
        <h1>Empresa</h1>
        <br><br>
				<table>
					<tr>
						<td>
							<input type = "hidden" value = "1" name = "action"/>
							<strong>Nome:</strong><br> <input type="text" size="35" maxlength="256" name="nome" autocomplete="off" required autofocus>
						</td>
					</tr>
					<tr>
						<td>
							<strong>E-mail:</strong><br> <input type="email" size="35" maxlength="256" name="email" autocomplete="off" required>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Senha:</strong><br> <input type="password" name="senha" id = "senha_2" autocomplete="off" required>   
						</td>
						<td>
							<!-- <br><br> -->
							<span id = "valid_1_2" style = "color: red">Senhas não batem</span>
							<strong>Confirmar Senha:</strong><br> <input type="password" id = "confirm_senha_2" name="confirm_senha" onkeyup="IsEqual_2()" autocomplete="off" required> 
						</td>
					</tr>
					<tr>
						<td>
							<strong>Número para Contato:</strong><br> <input type="text" name="contato" autocomplete="off" required>
						</td>
						<td>
							<!-- <br><br> -->
							<strong>Cidade da sede da empresa:</strong><br> <input type="text" size="35" maxlength="256" name="cidade" autocomplete="off" required autofocus>
						</td>
					</tr>
				</table>
				<br><br>
				<input style = "margin-left: 30%;"type = "submit" class = "btn_emp">
			</form>
		</div>

		<!-- Empresa -->
		<div id = "form_emp_2">
			<i class="fas fa-arrow-left" onclick = "voltar_cadastro()"></i>
			<form action =  "../controllers/empresaController.php" method="POST">
				<br>
        <h1>Empresa</h1>
        <br><br>
				<table>
					<tr>
						<td>
							<input type = "hidden" value = "1" name = "action"/>
							<strong>Nome:</strong><br> <input type="text" size="35" maxlength="256" name="nome" autocomplete="off" required autofocus>
						</td>
					</tr>
					<tr>
						<td>
							<strong>E-mail:</strong><br> <input type="email" size="35" maxlength="256" name="email" autocomplete="off" required>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Senha:</strong><br> <input type="password" name="senha" id = "senha_2" autocomplete="off" required>   
						<!-- </td>
						<td> -->
							<br><br>
							<span id = "valid_1_2" style = "color: red">Senhas não batem</span>
							<strong>Confirmar Senha:</strong><br> <input type="password" id = "confirm_senha_2" name="confirm_senha" onkeyup="IsEqual_2()" autocomplete="off" required> 
						</td>
					</tr>
					<tr>
						<td>
							<strong>Número para Contato:</strong><br> <input type="text" name="contato" autocomplete="off" required>
						<!-- </td>
						<td> -->
							<br><br>
							<strong>Cidade da sede da empresa:</strong><br> <input type="text" size="35" maxlength="256" name="cidade" autocomplete="off" required autofocus>
						</td>
					</tr>
				</table>
				<br><br>
				<input type = "submit" class = "btn_emp">
			</form>
		</div>

		<!-- Profissional -->
		<div id = "form_prof">
			<i class="fas fa-arrow-left" onclick = "voltar_cadastro()"></i>
			<form action =  "../controllers/profissionalController.php" method="POST">
				<br>
        <h1>Profissional</h1>
        <br><br>
				<table>
					<tr>
						<td>
							<input type = "hidden" value = "1" name = "action"/>
							<strong>Nome:</strong><br> <input type="text" size="35" maxlength="256" name="nome" autocomplete="off" required autofocus>
						</td>
					</tr>
					<tr>
						<td>					
							<strong>E-mail:</strong><br> <input type="email" size="35" maxlength="256" name="email" autocomplete="off" required>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Senha:</strong><br> <input type="password" name="senha" id = "senha" autocomplete="off" required>   
						</td>
						<td>
							<span id = "valid_1" style = "color: red">Senhas não batem</span>
							<strong>Confirmar Senha:</strong><br> <input type="password" id = "confirm_senha" name="confirm_senha" onkeyup="IsEqual()" autocomplete="off" required> 
						</td>
					</tr>
					<tr>
						<td>
							<strong>Número para Contato:</strong><br> <input type="text" name="contato" autocomplete="off" required>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Data de Nascimento:</strong><br> <input type="date" name="data_nasc" required>
						</td>
						<td>
							<strong>Cidade onde vive:</strong><br>         
							<select name = "cidade">
								<option value="Ourinhos">Ourinhos</option>
								<option value="Salto Grande">Salto Grande</option>
								<option value="São Pedro do Turvo">São Pedro do Turvo</option>
								<option value="Ribeirão do Sul">Ribeirão do Sul</option>
							</select>
						</td>
					</tr>
				</table>
				<br><br>
				<input type = "submit" style = "margin-left: 30%;" class = "btn_prof">
			</form>
		</div>

		<!-- Profissional -->
		<div id = "form_prof_2">
			<i class="fas fa-arrow-left" onclick = "voltar_cadastro()"></i>
			<form action =  "../controllers/profissionalController.php" method="POST">
				<br>
        <h1>Profissional</h1>
        <br><br>
				<table>
					<tr>
						<td>
							<input type = "hidden" value = "1" name = "action"/>
							<strong>Nome:</strong><br> <input type="text" size="35" maxlength="256" name="nome" autocomplete="off" required autofocus>
						</td>
					</tr>
					<tr>
						<td>					
							<strong>E-mail:</strong><br> <input type="email" size="35" maxlength="256" name="email" autocomplete="off" required>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Senha:</strong><br> <input type="password" name="senha" id = "senha" autocomplete="off" required>   
						<!-- </td>
						<td> -->
							<br><br>
							<span id = "valid_1" style = "color: red">Senhas não batem</span>
							<strong>Confirmar Senha:</strong><br> <input type="password" id = "confirm_senha" name="confirm_senha" onkeyup="IsEqual()" autocomplete="off" required> 
						</td>
					</tr>
					<tr>
						<td>
							<strong>Número para Contato:</strong><br> <input type="text" name="contato" autocomplete="off" required>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Data de Nascimento:</strong><br> <input type="date" name="data_nasc" required>
						<!-- </td>
						<td> -->
							<br><br>
							<strong>Cidade onde vive:</strong><br>         
							<select name = "cidade">
								<option value="Ourinhos">Ourinhos</option>
								<option value="Salto Grande">Salto Grande</option>
								<option value="São Pedro do Turvo">São Pedro do Turvo</option>
								<option value="Ribeirão do Sul">Ribeirão do Sul</option>
							</select>
						</td>
					</tr>
				</table>
				<br><br>
				<input type = "submit" class = "btn_prof">
			</form>
		</div>
		<footer id = "rodape">
			<p> </p>
		</footer>	
	</body>
</html>